<%= bootstrap_form_with(model: customer, local: true) do |f| %>
  <div class="row" style="max-width: 600px">
    <%= f.text_field :first_name, wrapper: { class: 'col-md-6' } %>
    <%= f.text_field :last_name, wrapper: { class: 'col-md-6' } %>
    <%= f.text_field :street, wrapper: { class: 'col-md-8' } %>
    <%= f.text_field :number, wrapper: { class: 'col-md-4' } %>
    <%= f.text_field :zip, wrapper: { class: 'col-md-8' } %>
    <%= f.text_field :place, wrapper: { class: 'col-md-4' } %>
    <hr />
    <%= f.text_field :price_per_hour, wrapper: { class: 'col-md-6' } %>
    <% if customer.new_record? %>
      <%= f.text_field :route_flat, wrapper: { class: 'col-md-6' } %>
    <% else %>
      <%= f.text_field :route_flat, append: link_to("berechnen", update_route_flat_customer_path(@customer), method: :patch, class: "btn btn-secondary"), wrapper: { class: 'col-md-6' } %>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>
