<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @customer.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @customer.lastname %>
</p>

<p>
  <strong>Street:</strong>
  <%= @customer.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @customer.number %>
</p>

<p>
  <strong>Place:</strong>
  <%= @customer.place %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @customer.distance %>
</p>

<p>
  <strong>Route flat:</strong>
  <%= @customer.route_flat %>
</p>

<p>
  <strong>Price per hour:</strong>
  <%= @customer.price_per_hour %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @customer.organization_id %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
